# Terraform local state
*.tfstate
*.tfstate.backup
*.tfstate.lock.info

# .tfvars files (Likely to contain secrets)
*.tfvars
*.tfvars.json
!*.example.tfvars
config.hcl

# Terraform configuration directories
.terraform/
.terraform.lock.hcl
backend.generated.tf

# Logs
*.log
*.log.*

# Editor config
.vscode/
.idea/
.DS_Store
